.home {
    border: 2px solid lightgray;
    padding: 50px;
    width: 100%;
    margin: 40px;
}

.music {
    list-style: none;
}

li {
    margin: 10px;
}

p {
    font-size: 30px;
}

.music img {
    width: 100px;
}

.card {
    display: flex;
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
}

.card p {
    margin-left: 30px;
    background-color: transparent;
}
